<form [formGroup]="form" (ngSubmit)="handleSubmit()">

  <div class="form-group">
    <label for="name">Name</label>
    <input
      id="name"
      type="text"
      class="form-control"
      formControlName="name"
      placeholder="Enter name">
      <app-error-validation-message [control]="form.get('name')"></app-error-validation-message>
  </div>

  <div class="form-group">
    <label for="currency">Currency</label>
    <select
      id="currency"
      class="form-control"
      formControlName="currency">
      <option *ngFor="let currency of currencyList" [value]="currency">{{ currency }}</option>
    </select>
    <app-error-validation-message [control]="form.get('currency')"></app-error-validation-message>
  </div>

  <div class="form-group">
    <label for="price">Price</label>
    <input
      id="price"
      type="number"
      class="form-control"
      formControlName="price"
      placeholder="Enter price">
    <app-error-validation-message [control]="form.get('price')"></app-error-validation-message>
  </div>

  <button type="submit" class="btn btn-primary">{{ btnName }}</button>
</form>
